
tiaa.ws.brokerEnrollment.userName={{tia_ws_be_uname}}
tiaa.ws.brokerEnrollment.password={{tia_ws_be_pass}}
tiaa.ws.secureHeader.userName={{tia_sh_uname}}
tiaa.ws.secureHeader.password={{tia_sh_pass}}
tiaaWS.keystore.path=vendor/path/path
tiaaWS.keystore.password={{tia_wsk_pass}}@
tiaaWS.timeout=-1
tiaaWS.oAuthUrl=https://null

